<header class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link" routerLink='/home'>Home</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink='/register'>Add User</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink='/'>Logout</a>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">Angular Security Demo </h3>
</header>

<main role="main">

  <div class="jumbotron">
    <h1 class="display-3">Angular</h1>
    <p class="lead">Angular is a TypeScript-based open-source web application framework led by the Angular Team at
      Google and by a community of individuals and corporations.
      Angular is a complete rewrite from the same team that built AngularJS..</p>
  </div>

</main>

<footer class="footer">
  <p>&copy; Company 2020</p>
</footer>